{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <section class="bg-sand">
        <div class="container">
            <div class="lib-profile-details-wrapper">
                <div class="profile-details-left">
                    {% if not object.profile_image %}
                        <img src="{% static 'default-profile-picture.jpg' %}" alt="{{ object.user.username }}">
                    {% else %}
                        <img src="/media/{{ object.profile_image }}" alt="{{ object.user.username }}">
                    {% endif %}
                </div>

                <div class="profile-details-right">
                    <div class="profile-details">
                        <p><span>Username:</span> {{ object.user.username }}</p>
                        <p><span>Name:</span> {% if object.first_name and object.last_name %}{{ object.first_name }} {{ object.last_name }}{% endif %}</p>
                        <p><span>Gender:</span> {% if object.gender %}{{ object.gender }}{% endif %}</p>
                        {% if object.pk == request.user.pk %}
                        <p><a href="{% url 'profile edit' pk=object.pk %}">Edit profile</a></p>
                        <p><a href="{% url 'change password' %}">Change password</a></p>
                        <p><a href="{% url 'delete account' pk=user.pk %}">Delete account</a></p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="books-list-wrapper">
    <h2>List of borrowed books:</h2>
        <div class="books-list">
            {% for borrow in borrowed_books %}
                <figure class="book-card">
                    <a href="{% url 'details books' pk=borrow.book.pk %}">
                        <img src="/media/{{ borrow.book.cover }}" alt="{{ borrow.title }}" class="product-item">
                        <figcaption>
                            {% if object.pk == request.user.pk %}
                            <p>
                                {% if borrow.is_overdue %}
                                    <span style="color: red;">You are overdue in returning this book.</span>
                                {% else %}
                                    Return before {{ borrow.return_date }}
                                {% endif %}
                            </p>
                            {% endif %}
                        </figcaption>
                    </a>
                </figure>
            {% empty %}
            <h3>No books borrowed yet</h3>
            {% endfor %}
        </div>
    </div>

    {% if object.pk == request.user.pk %}
    <div class="books-list-wrapper">
    <h2>Last viewed books:</h2>
        <div class="books-list">
            {% for book in last_viewed_books %}
                <figure class="book-card">
                    <a href="{% url 'details books' pk=book.pk %}">
                        <img src="/media/{{ book.cover }}" alt="{{ book.title }}" class="product-item">
                    </a>
                </figure>
            {% empty %}
            <h3>No books viewed yet</h3>
            {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock %}