{% extends 'base.html' %}
{% block page_content %}
    <div class="lib-form">
    <h2>Edit your profile</h2>
        <form action="{% url 'profile edit' pk=object.pk %}" method="post" enctype="multipart/form-data">
            {% for field in form %}
                <div class="lib-form-line">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="lib-form-btn">Edit profile</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}