{% extends 'base.html' %}
{% block page_content %}

    <div class="lib-delete-book">
        <form action="{% url 'author delete' pk=author.pk %}" method="post">
            <h2>Are you sure you want to delete "{{ author.name }}" ?</h2>
            <img src="/media/{{ author.picture }}" alt="{{ author.name }}"><br>
            {{ form }}
            <h3>By deleting this author you will also delete all his/her books</h3>
            <button class="lib-form-btn" type="submit">Delete author</button>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}