{% extends 'base.html' %}
{% load placeholders %}
{% block page_content %}

    <div class="lib-form">
        <form action="{% url 'change password' %}" method="post">
            <div class="lib-form-line">
                {{ form.old_password.errors }}
                {{ form.old_password|placeholder:'Old Password'|form_field_class:'lib-form-input' }}
            </div>
            <div class="lib-form-line">
                {{ form.new_password1.errors }}
                {{ form.new_password1|placeholder:'New Password:'|form_field_class:'lib-form-input' }}
                {{ form.new_password1.help_text }}
            </div>
            <div class="lib-form-line">
                {{ form.new_password2.errors }}
                {{ form.new_password2|placeholder:'Confirm New Password:'|form_field_class:'lib-form-input' }}
                {{ form.new_password2.help_text }}
            </div>
            <button class="lib-form-btn">Change</button>
            {% csrf_token %}
        </form>
    </div>
    
{% endblock %}