{% extends 'base.html' %}
{% block page_content %}

    <div class="lib-form">
        <h2>Login form</h2>
        <form action="{% url 'user login' %}" method="post">
            {% for field in form %}
                <div class="lib-form-line">
                {{ field.error }}
                {{ field }}
                </div>
            {% endfor %}
            <button class="lib-form-btn">Login</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
{# TODO: link to registration page #}