{% extends 'base.html' %}
{% block page_content %}
    <div class="lib-form">
    <h2>Registration form</h2>
        <form action="{% url 'user register' %}" method="post">
            {% for field in form %}
                <div class="lib-form-line">
                    {{ field.errors }}
                    {{ field }}
                    {{ field.help_text }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <button class="lib-form-btn">Register</button>
        </form>
    </div>

{% endblock %}