{% extends 'base.html' %}
{% block page_content %}

    <div class="lib-form">
        <h3>Are you sure you want to delete your account?</h3>
        {% if messages %}
            <div class="alert alert-warning">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <form action="{% url 'delete account' pk=user.pk %}" method="post">
            {{ form }}
            <button class="lib-form-btn">Delete account</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}