{% extends 'base.html' %}
{% load placeholders %}
{% block page_content %}
    <div class="lib-form">
        <h2>Edit book:</h2>
        <form action="{% url 'edit books' pk=book.pk %}" method="post" enctype="multipart/form-data">
            <div class="lib-form-line">
                {{ form.title.label_tag }}
                {{ form.title.errors }}
                {{ form.title|placeholder:'Title'|form_field_class:'lib-form-input' }}
            </div>
            <div class="lib-form-line">
                {{ form.description.label_tag }}
                {{ form.description.errors }}
                {{ form.description|placeholder:'Description'|form_field_class:'lib-form-input' }}
            </div>
            <div class="lib-form-line">
                {{ form.genre.label_tag }}
                {{ form.genre.errors }}
                {{ form.genre|form_field_class:'lib-form-input' }}
            </div>
            <div class="lib-form-line">
                {{ form.author.label_tag }}
                {{ form.author.errors }}
                {{ form.author|form_field_class:'lib-form-input' }}
            </div>
            <div class="lib-form-line">
                {{ form.number_of_pages.label_tag }}
                {{ form.number_of_pages.errors }}
                {{ form.number_of_pages|placeholder:'Number of pages'|form_field_class:'lib-form-input' }}
            </div>
            <div class="lib-form-line">
                {{ form.availability.label_tag }}
                {{ form.availability.errors }}
                {{ form.availability|placeholder:'Number of books available'|form_field_class:'lib-form-input' }}
            </div>
            <div class="lib-form-line">
                {{ form.cover.label_tag }}
                {{ form.cover.errors }}
                {{ form.cover|form_field_class:'lib-form-input' }}
            </div>
            <button class="lib-form-btn" type="submit">Edit book</button>
            {% csrf_token %}
        </form>

    </div>

{% endblock %}