{% extends 'base.html' %}
{% block page_content %}
    <p>You are borrowing <a href="{% url 'details books' pk=book.pk %}">{{ book.title }}</a> by
        <a href="{% url 'author details' pk=author.pk %}">{{ book.author }}</a>
    </p>

    {% if new_borrow %}
        <p>You have already borrowed this book.</p>
    {% else %}
        <form action="{% url 'borrow book' book_pk=book.pk %}" method="post">
            {{ form }}
            {% csrf_token %}
            <button type="submit">Borrow</button>
        </form>
    {% endif %}
    <p>Please make sure you return the book before {{ return_date }}</p>
{% endblock %}