{% extends 'base.html' %}
{% block page_content %}

    <div class="lib-delete-book">
        <p>You are borrowing <a href="{% url 'details books' pk=book.pk %}">{{ book.title }}</a> by
            <a href="{% url 'author details' pk=author.pk %}">{{ book.author }}</a>
        </p>
        <img src="/media/{{ book.cover }}" alt="{{ book.title }}">
        <p>Please make sure you return the book before {{ return_date }}</p>
        {% if messages %}
            <div class="alert alert-warning">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <form action="{% url 'borrow book' book_pk=book.pk %}" method="post">
            {{ form }}
            {% csrf_token %}
            <button class="lib-form-btn" type="submit">Borrow</button>
        </form>
        
    </div>
{% endblock %}