{% extends 'base.html' %}
{% block page_content %}

    {#  old  #}
{#    <div class="index-search-div">#}
{#        <form class="searchbar" method="get" action="{% url 'index' %}">#}
{#            {{ search_form }}#}
{#            {% csrf_token %}#}
{#            <button class="search-btn">#}
{#                search#}
{#            </button>#}
{#        </form>#}
{#    </div>#}

    <div class="search-wrapper">
        <form class="searchbar" method="get" action="{% url 'index' %}">
            <div class="search-by">
                {{ search_form.search_by }}
            </div>
            <div class="search-form">
                {{ search_form.query }}
                {% csrf_token %}
                <button class="search-btn">search</button>
                <button class="search-btn">search</button>
            </div>
        </form>
    </div>



    <div class="books-list-wrapper">
        {% if books %}
        <div class="lib-sorting">Sort by: <a href="?sort_by=id">last added</a> | <a href="?sort_by=title">title</a> | <a
                href="?sort_by=author">author</a></div>
        {% endif %}
        <div class="books-list">
            {% for book in books %}
                <figure class="book-card">
                    <a href="{% url 'details books' pk=book.pk %}">
                        <img src="/media/{{ book.cover }}" alt="{{ book.title }}">
                        <figcaption>
                            <h3>{{ book.title }}</h3>
                            <p>{{ book.author }}</p>
                        </figcaption>
                    </a>
                </figure>
            {% endfor %}
        </div>
    </div>
{% endblock %}