{% extends 'base.html' %}
{% block page_content %}

    <div class="index-search-div">
        <form class="searchbar" method="get" action="{% url 'index' %}">
            {{ search_form }}
            {% csrf_token %}
            <button class="search-btn">
                search
            </button>
        </form>
    </div>

    <div class="books-list">
        <div class="products-grid grid">
            {% for book in books %}
                <figure class="product-style">
                    <a href="{% url 'details books' pk=book.pk %}">
                        <img src="/media/{{ book.cover }}" alt="{{ book.title }}" class="product-item">
                        <figcaption>
                            <h3>{{ book.title }}</h3>
                            <p>{{ book.author }}</p>
                        </figcaption>
                    </a>
                </figure>
            {% endfor %}
        </div>
    </div>
{% endblock %}